.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    min-height: 100%;
    padding: 50px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.subtitle {
    h2 {
        position: relative;

        margin-left: 3rem;
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        font-size: 28px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 1.5em;
        padding-bottom: 15px;
        color: #080808;
    }
    h2:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 5px;
        width: 55px;
        background-color: #111;
    }
    h2:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 2px;
        height: 1px;
        width: 95%;
        max-width: 255px;
        background-color: #333;
    }

    @media screen and (max-width: 770px) {
        display: flex;
        justify-content: center;

        h2 {
            display: inline-block;
            width: 250px;
            margin-left: 0;
        }
    }
}

.card_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    justify-content: center;
    align-items: center;
    place-items: center;

    height: fit-content;
    width: 100%;
    max-width: 1024px;
    gap: 3rem;
}

.no_group {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .text {
        text-align: center;
        font-size: 1rem;
        color: #46464c;
    }
}

.create_room {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 85%;
    max-width: 800px;
    margin-top: 3rem;
    gap: 0.5rem;
    padding: 1rem;

    box-sizing: border-box;
    user-select: none;
    border-radius: 0.4rem;
    color: hsla(240, 7%, 70%, 1);
    background-color: #f8f8f8;
    border: transparent;
    cursor: pointer;

    &:hover {
        background-color: hsla(240, 7%, 70%, 0.22);
    }

    svg {
        width: 35px;
        height: 35px;
    }
}
